@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

body {
    background: linear-gradient(to bottom, rgba(0, 4, 0, 0.777), rgba(0, 4, 0, 0.777)), url(./man.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.Logo{
    color: black;
}
.normal{
    color: black;
}
a.night{
    color: #8BE58E;
}
/*Dark Mode css*/
.dark-mode{
    color: blue;  height:50px;
    width: 200px;
    background: red;
}
.Let{
    padding: 100px;
    padding-right: 70px; 
}





section.greenNight{
    background: #1F2B1F;
    color: #8BE58E;
    transition: 0.4s ease;
}

@media(max-width: 580px) {
    .word{
        display: none ;
    }
    .copy-right {
        flex-direction: column;
        align-items: flex-start;
    }
    .Let{
        padding: 50px;
        padding-bottom: 70px;
    }
}

.navbar{
    background: transparent;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(18px);
}
.link-custom{
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(0, 109, 199, 0.822) ;
}
.link-custom::after{
    content: "";
    height: 4px;
    width: 1px;
    background-color: blue;
    left: 0;
    top: 110%;
    transition: all 0.4s ;
}

.h3{
    color: black;
}

.black1{
    color: green;
}
.full-height{
    height: 100% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;

}
.head:hover{
    color: #8BE58E;
    transition: 0.2s;
}
.head2:hover{
    background: #8BE58E;
}
.head2{
    background: #3a6d3c;
}
